{% extends "main_temp.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4" id="titreglog">Add Expense</legend>
				<div class="form-group">
					{{ form.rent.label(class="form-control-label") }}
					{% if form.rent.errors %}
						{{ form.rent(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.rent.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.rent(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.bills.label(class="form-control-label") }}
					{% if form.bills.errors %}
						{{ form.bills(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.bills.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.bills(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.groceries.label(class="form-control-label") }}
					{% if form.groceries.errors %}
						{{ form.groceries(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.groceries.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.groceries(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.transportation.label(class="form-control-label") }}
					{% if form.transportation.errors %}
						{{ form.transportation(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.transportation.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.transportation(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.entertainment.label(class="form-control-label") }}
					{% if form.entertainment.errors %}
						{{ form.entertainment(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.entertainment.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.entertainment(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.vacation.label(class="form-control-label") }}
					{% if form.vacation.errors %}
						{{ form.vacation(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.vacation.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.vacation(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.miscellaneous.label(class="form-control-label") }}
					{% if form.miscellaneous.errors %}
						{{ form.miscellaneous(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.miscellaneous.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.miscellaneous(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group" id="subbutton">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}